<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="firefox"/>
	<package id="7zip.install"/>
	<package id="adobereader"/>
	<package id="chocolateygui"/>
	<package id="filezilla"/>
	<package id="powertoys"/>
	<package id="vlc"/>
	<package id="signal"/>
	<package id="spotify"/>
	<package id="treesizefree"/>
	<package id="winrar"/>
	<package id="calibre"/>
	<package id="github-desktop"/>
	<package id="neovim"/>
	<package id="meld"/>
	<package id="pdf24"/>
	<package id="rufus"/>
	<package id="sd-card-formatter"/>
	<package id="sysinternals"/>
	<package id="tailscale"/>
	<package id="telegram"/>
	<package id="notepadplusplus.install"/>
  <package id="googledrive"/>
  <package id="slack"/>
</packages>
